@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container__table {
  width: 100%;
  min-height: 100vh;
  background: #e1ecc8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap__table {
  width: 960px;
  border-radius: 10px;
  overflow: hidden;
}
